body {
    margin: 0;
}

h1, h2, p, a {
    margin-top: 0;
}

h1 {
    font-size: 48px;
    color: #2E7AD3;
    max-width: 500px;
    margin: 45px auto;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: #104C90;
}

.post-title {
    text-align: left;
    margin-left: 20px;
}

img {
    margin-bottom: 9px;;
}

.main {
    max-width: 500px;
    background-color: #F1F1F1;
    padding: 20px;
    margin: 0px auto;
}

.info-box {
    max-width: 450px;
    margin: 0 auto;
}

.content {
    margin-top: 9px;
}

.post {
    text-align: center;
}

a {
    color: #FF8000;
}

a:hover {
    color: white;
    cursor: pointer;
}

a:focus {
    color: orange;
}

a:visited {
    color: white;
}